= form_for [@subscription_plan, @subscriber] do |f|
  = f.error_messages

  = field_set_tag  @subscriber.customer.full_name do
    .splitContainer
      %dl.third
        %dt= f.label :name,  t('shoppe.subscribers.balance')
        %dd
          .moneyInput
            .currency= Shoppe.settings.currency_unit.html_safe
            = f.text_field :balance, :class => 'text'
      %dl.third
        %dt= f.label :api_plan_id,  t('shoppe.subscription_plans.api_plan_id')
        %dd
          = f.fields_for @subscriber.subscription_plan do |ff|
            = ff.text_field :api_plan_id, {:class => 'text', readonly: true}
            %p.help=  t('shoppe.subscription_plans.stripe_subscription_plan_id')
      %dl.third
        %dt= f.label :stripe_id,  t('shoppe.subscription_plans.stripe_id')
        %dd
          = f.text_field :stripe_id, {:class => 'text', readonly: @subscriber.stripe_id.present?}
          %p.help=  t('shoppe.subscription_plans.stripe_subscription_plan_id')

  = field_set_tag t('shoppe.subscribers.status') do
    .splitContainer
      %dl.half
        %dt= f.label :created_at, t('shoppe.subscribers.start_date')
        %dd
          = @subscriber.created_at
      %dl.half
        %dt= f.label :created_at, t('shoppe.subscribers.cancelled_date')
        %dd
          = @subscriber.cancelled_at

  %p.submit
    - unless @subscriber.new_record?
      - if @subscriber.cancelled_at.blank?
        %span.right
          = link_to t('shoppe.subscribers.cancel'),
                    [@subscription_plan, @subscriber],
                    class: 'button purple',
                    method: :delete,
                    data: {confirm: t('shoppe.subscribers.delete_confirmation')}
    = f.submit t('shoppe.subscribers.save'),
               class: 'button green',
               data: {disable_with: (@subscriber.new_record? ? t('shoppe.customers.creating_customer') : t('shoppe.customers.updating_customer'))}
    = link_to t('shoppe.customers.cancel'), [@subscription_plan, :subscribers], :class => 'button'
