- @page_title = t('shoppe.subscription_plans.subscribers')

= content_for :header do
  %p.buttons= link_to t('shoppe.subscribers.back_to_subscription_plan') , [:edit, @subscription_plan], :class => 'button'
  %h2.subscription_plans= t('shoppe.subscribers.subscribers')

.table
  %table.data
    %thead
      %tr
        %th= t('shoppe.subscribers.customer_name')
        %th= t('shoppe.subscribers.start_date')
        %th= t('shoppe.subscribers.balance')
        %th= t('shoppe.subscription_plans.api_plan_id')
        %th= t('shoppe.subscribers.stripe_token')
    %tbody
      - if @subscribers.empty?
        %tr.empty
          %td{:colspan => 7}= t('shoppe.subscribers.no_subscribers')
      - else
        - for subscriber in @subscribers
          %tr
            %td= link_to subscriber.customer.full_name, [:edit, @subscription_plan, subscriber]
            %td= subscriber.created_at
            %td= "#{Shoppe.settings.currency_unit.html_safe}#{subscriber.balance}"
            %td= subscriber.subscription_plan.api_plan_id
            %td= subscriber.stripe_token
