= stylesheet_link_tag 'shoppe_subscriptions/application'
= javascript_include_tag 'shoppe_subscriptions/application'

= form_for @subscription_plan do |f|
  = f.error_messages

  = field_set_tag  t('shoppe.subscription_plans.summary') do
    .splitContainer
      %dl.half
        %dt= f.label :name,  t('shoppe.subscription_plans.name')
        %dd= f.text_field :name, :class => 'text'
      %dl.half
        %dt= f.label :api_plan_id,  t('shoppe.subscription_plans.api_plan_id')
        %dd
          = f.text_field :api_plan_id, {:class => 'text', readonly: @subscription_plan.persisted?}
          %p.help=  t('shoppe.subscription_plans.stripe_subscription_plan_id')

  = field_set_tag t('shoppe.subscription_plans.price') do
    .splitContainer
      %dl.third
        %dt= f.label :amount, t('shoppe.subscription_plans.amount')
        %dd
          = f.text_field :amount, readonly: @subscription_plan.persisted?, :class => 'text'
      %dl.third
        %dt= f.label :currency, t('shoppe.subscription_plans.currency')
        %dd
          = f.select :currency, @charging_currencies, {disabled: @subscription_plan.persisted?}, {class: 'chosen', disabled: @subscription_plan.persisted?}
          %p.help=  t('shoppe.subscription_plans.currency_help')
      %dl.third
        %dt= f.label :trial_period_days, t('shoppe.subscription_plans.trial_period_days')
        %dd
          = f.text_field :trial_period_days, {class: 'text', placeholder: t('shoppe.subscription_plans.days').downcase, readonly: @subscription_plan.persisted?}
          %p.help=  t('shoppe.subscription_plans.trial_period_help')

  = field_set_tag t('shoppe.subscription_plans.interval') do
    .splitContainer
      %dl.half
        %dt= f.label :interval, t('shoppe.subscription_plans.interval')
        %dd
          = f.select :interval, Shoppe::SubscriptionPlan::INTERVALS.collect {|i| [t("shoppe.intervals.#{i}"), i]}, {}, {class: 'chosen', disabled: @subscription_plan.persisted?}
          %p.help=  t('shoppe.subscription_plans.interval_help')
      %dl.half
        %dt= f.label :interval_count, t('shoppe.subscription_plans.interval_count')
        %dd
          = f.text_field :interval_count, {:class => 'text', readonly: @subscription_plan.persisted?}
          %p.help=  t('shoppe.subscription_plans.interval_count_help')

  = field_set_tag t('shoppe.subscription_plans.product') do
    .container
      %dl
        %dt= f.label :product, t('shoppe.subscription_plans.product')
        %dd
          = f.collection_select :product_id, @subscribable_products, :id, :full_name, {include_blank: true}, {class: 'chosen-with-deselect', data: {placeholder: t('shoppe.subscription_plans.select_product')}}

  %p.submit
    - unless @subscription_plan.new_record?
      %span.right= link_to  t('shoppe.delete'), [@subscription_plan], :class => 'button purple', :method => :delete, :data => {:confirm => t('shoppe.subscription_plans.delete_confirmation')}
    = f.submit t('shoppe.submit'), :class => 'button green'
    = link_to t('shoppe.cancel'), :subscription_plans, :class => 'button'
