= form_for @subscription_plan do |f|
  = f.error_messages
  = field_set_tag t('shoppe.subscription_plans.price') do
    .splitContainer
      %dl.half
        %dt= f.label :amount, t('shoppe.subscription_plans.amount')
        %dd
          .moneyInput
            .currency= Shoppe.settings.currency_unit.html_safe
            = f.text_field :amount, :class => 'text'
      %dl.half
        %dt= f.label :currency, t('shoppe.subscription_plans.currency')
        %dd= f.text_field :currency, :class => 'text', placeholder: Shoppe.settings.currency_unit.html_safe

  = field_set_tag t('shoppe.subscription_plans.interval') do
    .splitContainer
      %dl.half
        %dt= f.label :interval, t('shoppe.subscription_plans.interval')
        %dd
          = f.text_field :interval, :class => 'text', placeholder: t('shoppe.subscription_plans.months').downcase
          %p.help=  t('shoppe.subscription_plans.interval_help')
      %dl.half
        %dt= f.label :currency, t('shoppe.subscription_plans.interval_count')
        %dd
          = f.text_field :currency, :class => 'text'
          %p.help=  t('shoppe.subscription_plans.interval_count_help')

  = field_set_tag  t('shoppe.subscription_plans.summary') do
    .splitContainer
      %dl.half
        %dt= f.label :name,  t('shoppe.subscription_plans.name')
        %dd= f.text_field :name, :class => 'text'
      %dl.half
        %dt= f.label :id,  t('shoppe.subscription_plans.id')
        %dd
          = f.text_field :id, :class => 'text'
          %p.help=  t('shoppe.subscription_plans.stripe_subscription_plan_id')

  %p.submit
    - unless @subscription_plan.new_record?
      %span.right= link_to  t('shoppe.delete'), [@subscription_plan], :class => 'button purple', :method => :delete, :data => {:confirm => t('shoppe.subscription_plans.delete_confirmation')}
    = f.submit t('shoppe.submit'), :class => 'button green'
    = link_to t('shoppe.cancel'), :subscription_plans, :class => 'button'
