- @page_title = t('shoppe.subscription_plans.subscription_plans')

= content_for :header do
  %p.buttons= link_to t('shoppe.subscription_plans.new'), :new_subscription_plan, :class => 'button green'
  %h2.subscription_plans= t('shoppe.subscription_plans.subscription_plans')

.table
  %table.data
    %thead
      %tr
        %th= t('shoppe.subscription_plans.amount')
        %th= t('shoppe.subscription_plans.interval')
        %th= t('shoppe.subscription_plans.interval_count')
        %th= t('shoppe.subscription_plans.name')
        %th= t('shoppe.subscription_plans.currency')
        %th= t('shoppe.subscription_plans.id')
        %th= t('shoppe.subscription_plans.trial_period_days')
    %tbody
      - if @subscription_plans.empty?
        %tr.empty
          %td{:colspan => 7}= t('shoppe.subscription_plans.no_subscription_plans')
      - else
        - for subscription_plan in @subscription_plans
          %tr
            %td= link_to "#{Shoppe.settings.currency_unit.html_safe}#{subscription_plan.amount}", [:edit, subscription_plan]
            %td= subscription_plan.interval
            %td= subscription_plan.interval_count
            %td= link_to subscription_plan.name, [:edit, subscription_plan]
            %td= subscription_plan.currency
            %td= subscription_plan.id
            %td= subscription_plan.trial_period_days
